.texto-extension-task-item-host {
	input {
		pointer-events: none;
	}

	div {
		min-width: 0;

		p {
			white-space: pre-wrap;
			hyphens: auto;
		}
	}

	& .visually-hidden {
		position: absolute !important;
		width: 1px !important;
		height: 1px !important;
		margin: -1px !important;
		padding: 0 !important;
		overflow: hidden !important;
		border: 0 !important;
		clip: rect(0 0 0 0) !important;
		appearance: none !important;
		-webkit-appearance: none !important;
	}
}
